@import url("https://fonts.googleapis.com/css?family=Roboto");
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.75rem; }

h4, .h4 {
  font-size: 1.5rem; }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

.hero__animation {
  flex: 1 1;
  display: flex;
  flex-direction: column; }

.hero__nav {
  display: inline-flex;
  flex-flow: row;
  flex: 1 1;
  justify-content: flex-end; }
  .hero__nav a {
    font-weight: bold;
    margin: 0 1em; }

.hero__header {
  display: inline-flex;
  flex-flow: row;
  flex: 1 1;
  justify-content: center;
  margin: 3em 0 2em 0; }

.hero__titles {
  display: flex;
  text-align: left;
  font-family: "Open Sans";
  font-size: 1.4em;
  flex-flow: column; }

.hero__title {
  white-space: nowrap;
  margin: .2em auto;
  letter-spacing: .05em;
  padding-left: .5em;
  padding-right: .1em;
  height: 1.1em; }
  .hero__title.hero__title--sub {
    font-size: .9em; }

@media screen and (max-width: 550px) {
  .hero__header {
    margin: 2em 0 0 0; }

  .hero__nav {
    display: none; }

  .hero__title {
    font-size: 1.2em; }
    .hero__title.hero__title--sub {
      font-size: 0.7em; } }
.hero__title--cursor {
  border-right: .05em solid white;
  animation: blink-caret .75s step-end infinite; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: white; } }
.hero__scene {
  width: 80px;
  height: 80px;
  padding: 10px; }

.hero__anim {
  position: absolute;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  transition: transform 1.5s; }

.hero__anim.cube {
  transform: translateZ(-25px) rotateX(-35deg) rotateY(45deg); }

.hero__section {
  position: absolute;
  width: 50px;
  height: 50px;
  transition: all 1.5s; }

.hero__section--1 {
  background: #3D82E9; }

.hero__section--2 {
  background: #0B47AE; }

.hero__section--3 {
  background: #7cb7fa; }

.cube .hero__section--1 {
  transform: rotateY(0deg) translateZ(25px); }
.cube .hero__section--2 {
  transform: rotateY(-90deg) translateZ(25px); }
.cube .hero__section--3 {
  transform: rotateX(90deg) translateZ(25px); }
.cube.out .hero__section {
  width: 40px;
  height: 40px;
  transition: all .5s; }
.cube.out .hero__section--1 {
  transform: rotateY(0deg) translateZ(0px); }
.cube.out .hero__section--2 {
  transform: rotateY(-90deg) translateZ(40px); }
.cube.out .hero__section--3 {
  transform: rotateX(90deg) translateZ(80px); }

.stack .hero__section--1 {
  transform: translateZ(0px) rotate(-45deg) translateY(20%) translateX(-20%); }
.stack .hero__section--2 {
  transform: translateZ(25px) rotate(-45deg) translateY(0%) translateX(0%); }
.stack .hero__section--3 {
  transform: translateZ(50px) rotate(-45deg) translateY(-20%) translateX(20%); }

.bar .hero__section--2 {
  transform: translateZ(0px) translateX(-50%) rotate(0deg) scaleX(0.3); }
.bar .hero__section--3 {
  transform: translateZ(0px) translateX(-10%) translateY(12.5%) rotate(0deg) scaleX(0.3) scaleY(0.75); }
.bar .hero__section--1 {
  transform: translateZ(0px) translateX(30%) translateY(25%) rotate(0deg) scaleX(0.3) scaleY(0.5); }
.bar.out .hero__section--2 {
  transform: translateZ(80px) translateX(-75%) translateY(50%) rotate(0deg) scaleX(0.3); }
.bar.out .hero__section--3 {
  transform: translateZ(-160px) translateX(-10%) translateY(-50%) rotateX(90deg) scaleX(0.3) scaleY(0.75); }
.bar.out .hero__section--1 {
  transform: translateZ(240px) translateX(50%) translateY(25%) rotate(0deg) scaleX(0.3) scaleY(0.5); }

.flexgrid {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  margin: 0; }
  .flexgrid.flexgrid--columns {
    flex-direction: column; }

@media screen and (max-width: 760px) {
  .flexgrid.flexgrid--rows-small {
    flex-direction: rows; }
  .flexgrid.flexgrid--columns-small {
    flex-direction: column; } }
@media screen and (max-width: 560px) {
  .flexgrid.flexgrid--rows-xs {
    flex-direction: rows; }
  .flexgrid.flexgrid--columns-xs {
    flex-direction: column; } }
.flexbox {
  flex: 1 1 0;
  margin: .5em;
  display: flex; }
  .flexbox.flexbox--columns {
    flex-direction: column; }
  .flexbox.flexbox--2 {
    flex: 2 1 0; }
  .flexbox.flexbox--3 {
    flex: 3 1 0; }

a.flexbox:hover {
  text-decoration: none; }

.project {
  padding: 1em;
  flex: 1 1 0;
  transition: all .3s;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  box-sizing: border-box;
  min-height: 320px; }
  .project:hover {
    background: #131313 !important;
    border-width: 1.5em !important; }
    .project:hover .project__image--hover {
      opacity: 1; }
  .project.project--green {
    background: #003FAC;
    border: #003FAC solid 0em; }
  .project.project--blue {
    background: #011E71;
    border: #011E71 solid 0em; }
  .project.project--purple {
    background: #006FCF;
    border: #006FCF solid 0em; }

.project__image_container {
  height: 90px;
  margin: 2em 0;
  width: 100%;
  position: relative; }

.project__image_wrapper {
  height: 100%;
  width: 100%;
  position: absolute; }

.project__image {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: flex; }

.project__image--hover {
  opacity: 0;
  transition: opacity .3s; }

.project__subheader {
  align-self: center;
  margin: 0 auto;
  letter-spacing: .2em;
  text-align: center; }

.project__skillset {
  color: white;
  font-weight: bold;
  align-self: center;
  margin-top: 2em; }

.project__sunburst__section {
  fill: none;
  stroke-width: 1;
  stroke: white;
  transition: all .3s; }

.project__sunburst__svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.project__sunburst__box {
  position: relative;
  margin: 2em auto;
  width: 100%; }

.project__sunburst:hover .project__sunburst__section--green {
  stroke: #1f993a; }
.project__sunburst:hover .project__sunburst__section--blue {
  stroke: #0c7aad; }
.project__sunburst:hover .project__sunburst__section--purple {
  stroke: #6924a1; }
.project__sunburst:hover .project__sunburst__section--turquoise {
  stroke: #2db698; }
.project__sunburst:hover .project__sunburst__section--orange {
  stroke: #b65f2d; }

.project__logo--erasmus {
  width: 430px;
  height: 60px;
  align-self: center;
  margin: 0 auto; }

@media screen and (max-width: 1200px) {
  .project__logo--erasmus {
    width: 350px;
    height: 45px; } }
@media screen and (max-width: 760px) {
  .project__logo--erasmus {
    margin: 60px auto 20px auto; }

  .project__sunburst__box {
    display: none; }

  .project--sunburst {
    min-height: 500px; }

  .project:hover {
    border: none; } }
@media screen and (max-width: 550px) {
  .project__logo--erasmus {
    width: 250px;
    height: auto; }

  .project__skillset {
    font-size: .8em; } }
.project__logo--golab {
  margin: 2em auto;
  width: 400px;
  height: 90px; }

.project__logo__golab__text {
  fill: white; }

.project__logo__golab__text--alt {
  transition: fill 0.3s; }

.project__link {
  border: 2px #153EB0 solid;
  font-size: 1.2em;
  margin: .5em 0;
  color: #153EB0;
  padding: .4em;
  margin-right: auto;
  transition: all .2s;
  fill: none;
  stroke: blue; }

.project__link:hover {
  background: #153EB0;
  color: white;
  text-decoration: none;
  fill: none;
  stroke: white; }
  .project__link:hover span {
    color: white; }

.project__link_arrow {
  margin-left: 5px;
  width: .8em;
  height: .8em; }

.skillset {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  margin: 10px;
  justify-content: space-evenly;
  align-content: flex-start;
  border: white solid 2px; }

.skillset--frontend {
  flex: 2 1; }

.skillset--backend {
  flex: 2 1; }

.skillset--database {
  flex: 1 1;
  justify-content: center; }

.skillset__skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 10px;
  text-align: center; }

.skillset__skill--database {
  width: 100%; }

@media screen and (max-width: 556px) {
  .skillset--database {
    flex: 2 1; }

  .skillset__skill--database {
    width: 50%; } }
.skillset__skill__content {
  width: 100%;
  height: 70px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s;
  color: white;
  border: white solid 2px;
  font-weight: bold; }

@media screen and (max-width: 760px) {
  .skillset__skill {
    font-size: .9em; }

  .skillset__skill__content {
    border: white solid 1px; }

  .skillset__skill--frontend {
    width: 50%;
    flex: 0 1 auto; }

  .skillset__skill--backend {
    width: 50%;
    flex: 0 1 auto; }

  .skillset__skill--database {
    width: 50%;
    flex: 0 1 auto; } }
.skillset__borders {
  justify-content: space-between;
  min-width: 100%;
  padding: 0 0.5em;
  display: flex; }

.skillset__border {
  width: 10px;
  height: 10px;
  border: transparent solid 1px;
  transition: border 0.3s; }

.skillset__border--top-left, .skillset__border--top-right {
  margin-top: 0.5em; }

.skillset__border--bottom-left, .skillset__border--bottom-right {
  margin-bottom: 0.5em; }

.skillset__skill:hover {
  font-weight: bold; }
  .skillset__skill:hover .skillset__border--top-left {
    border-left: #00144D solid 1px;
    border-top: #00144D solid 1px; }
  .skillset__skill:hover .skillset__border--top-right {
    border-right: #00144D solid 1px;
    border-top: #00144D solid 1px; }
  .skillset__skill:hover .skillset__border--bottom-left {
    border-left: #00144D solid 1px;
    border-bottom: #00144D solid 1px; }
  .skillset__skill:hover .skillset__border--bottom-right {
    border-right: #00144D solid 1px;
    border-bottom: #00144D solid 1px; }
  .skillset__skill:hover .skillset__skill__content {
    background: white;
    color: #00144D; }

.code_examples {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1;
  margin: 10px;
  width: 1120px;
  align-content: flex-start;
  align-self: center; }

@media screen and (max-width: 1120px) {
  .code_examples {
    width: auto;
    margin: 2em 1em;
    justify-content: center; } }
.code_example {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  padding: 10px;
  margin: 30px; }

.code_example__image {
  border: 1px #ddd solid;
  width: 100%;
  height: 180px; }

.code_example__text {
  width: 100%;
  text-align: center;
  margin-top: .5em; }

@media screen and (max-width: 760px) {
  .code_examples {
    margin: 0; }

  .code_example {
    width: 140px;
    padding: 6px;
    margin: 10px; }

  .code_example__image {
    height: 130px; } }
/* Typography */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit; }

.h1, h1 {
  font-size: 2.5rem; }

.h4, h4 {
  font-size: 1.5rem; }

div {
  box-sizing: border-box; }

html, body {
  line-height: 1.333333333;
  background-color: #00144D;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #79aaff;
    text-decoration: underline; }

.navbar {
  background: #00144D;
  height: 100px;
  width: 100%;
  display: flex; }

.section {
  padding: 1em 0 2em 0; }
  .section.section__hero {
    width: 100%;
    margin-top: 0; }
  .section.section__sectors {
    min-height: 800px; }

.section__content {
  width: 1200px;
  display: flex;
  flex-flow: row;
  margin: 0 auto; }

.section__hero {
  flex-flow: row-reverse; }

.section__header {
  margin: 1em auto; }

.section.section__footer {
  padding: 3em 0; }

.footer__header {
  font-size: 1em;
  margin: .5em auto; }

.section--grey {
  background: #ECECEC; }

.section--white {
  background: #fff; }

.section--white a, .section--grey a {
  color: #003FAC; }
  .section--white a:hover, .section--grey a:hover {
    color: #1369ff; }

.section--dark {
  background: #131313; }

.section--grey, .section--white {
  color: black; }
  .section--grey .section__header, .section--white .section__header {
    color: #004F7A; }

@media screen and (max-width: 1200px) {
  .section__content {
    width: auto;
    margin: 0 1em; } }
ul li {
  list-style: none; }

ul li:before {
  content: "";
  border-color: transparent #003FAC;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.5em;
  display: block;
  height: 0;
  width: 0;
  left: -1em;
  top: 1em;
  position: relative; }

.logo__github {
  width: 32;
  height: 32;
  margin-right: 12; }

.section__aboutme {
  padding: 2em 0;
  font-size: 1.2em; }

.text--center {
  text-align: center; }

pre {
  background: #efefef;
  margin: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  font-family: "Bitstream Vera Sans Mono",Consolas,monospace; }
